<div id="<%= dom_id tweet %>" class="border">
  <p class= "mb-0">
    <strong>Description:</strong>
    <%= tweet.description %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= tweet.username %>
  </p>

</div>

